@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.svi {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nmg {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  height: 100%;
}

.slikica img {
  width: 100%;
  height: 500px;
  border-radius: 4px;
}

.nmg h1 {
  color: #ba727e;
  font-size: x-large;
}

.nmg p {
  font-size: medium;
}

.nmg button {
  background-color: pink;
  color: grey;
}
