@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nmgvise {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.okic {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 25px;
  border-radius: 30px;
  background-color: #95656d;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.okic h1 {
  color: #ffc0cb;
}

.okic button {
  background-color: pink;
  color: grey;
  margin-top: 10px;
}

.okic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
