@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
}

.linkovi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: grey;
}

.linkovi a {
  text-decoration: none;
}

.pretrazi {
  margin-left: 50px;
  height: 30px;
  width: 270px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 10px;
}

.pocetak {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  font-family: "Playfair Display", serif;
  width: 700px;
  margin: 250px;
}

.pocetak hr {
  position: relative;
  width: 130px;
  height: 2px;
  background-color: black;
  border: none;
  margin-left: 180px;
  bottom: 15px;
}

.pocetak span {
  color: pink;
}

.pocetak h5 {
  color: pink;
  font-size: larger;
}

.boss img {
  position: absolute;
  margin-left: 1000px;
  bottom: 150px;
  width: 450px;
  height: 550px;
  border-radius: 7%;
}

.cilj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1100px;
  font-size: larger;
  gap: 30px;
  margin-left: 400px;
  margin-top: 90px;
}

.cilj h1 {
  color: #ba727e;
}

.stafic {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.citaci {
  border: 3px solid pink;
  padding: 40px;
  border-radius: 10px;
  width: 280px;
}

.citaci p {
  color: #772f3b;
}

.naocare {
  font-size: xx-large;
  color: #ba727e;
}

.lajkovi {
  border: 3px solid pink;
  padding: 40px;
  border-radius: 10px;
  width: 280px;
}

.lajkovi p {
  color: #772f3b;
}

.srce {
  font-size: xx-large;
  color: #ba727e;
}

.nagrade {
  border: 3px solid pink;
  padding: 40px;
  border-radius: 10px;
  width: 280px;
}

.nagrade p {
  color: #772f3b;
}

.trofej {
  font-size: xx-large;
  color: #ba727e;
}

.pretplata {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}

.pretplata h1 {
  color: #ba727e;
}

.tekst {
  width: 1000px;
  display: flex;
  margin-top: 15px;
}

.karticesub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}

.karticesub h1 {
  color: #772f3b;
}

.subic {
  background-color: #ba727e;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  transition: transform 0.5s ease-in-out;
}

.subic:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subic hr {
  color: grey;
}

.naziv {
  color: #772f3b;
  width: 140px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #772f3b;
  font-size: large;
}
