@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
}

.linkovi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: grey;
}

.linkovi a {
  text-decoration: none;
}

.pretrazi {
  margin-left: 50px;
  height: 30px;
  width: 270px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 10px;
}

.pocetak {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  font-family: "Playfair Display", serif;
  width: 700px;
  margin: 250px;
}

.pocetak hr {
  position: relative;
  width: 130px;
  height: 2px;
  background-color: black;
  border: none;
  margin-left: 180px;
  bottom: 15px;
}

.pocetak span {
  color: pink;
}

.pocetak h5 {
  color: pink;
  font-size: larger;
}

.boss img {
  position: absolute;
  margin-left: 1000px;
  bottom: 150px;
  width: 450px;
  height: 550px;
  border-radius: 7%;
}

.cilj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1100px;
  font-size: larger;
  gap: 30px;
  margin-left: 400px;
  margin-top: 90px;
}

.cilj h1 {
  color: #ba727e;
}

.stafic {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.citaci {
  border: 3px solid pink;
  padding: 40px;
  border-radius: 10px;
  width: 280px;
}

.citaci p {
  color: #772f3b;
}

.naocare {
  font-size: xx-large;
  color: #ba727e;
}

.lajkovi {
  border: 3px solid pink;
  padding: 40px;
  border-radius: 10px;
  width: 280px;
}

.lajkovi p {
  color: #772f3b;
}

.srce {
  font-size: xx-large;
  color: #ba727e;
}

.nagrade {
  border: 3px solid pink;
  padding: 40px;
  border-radius: 10px;
  width: 280px;
}

.nagrade p {
  color: #772f3b;
}

.trofej {
  font-size: xx-large;
  color: #ba727e;
}
