@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.idiot {
  position: relative;
  color: #ba727e;
  margin-left: 200px;
  padding: 50px;
}

.idiot hr {
  position: relative;
  bottom: 24px;
  width: 500px;
  left: 210px;
  background-color: #ba727e;
  height: 6px;
  border-radius: 10px;
}

.svi {
  display: flex;
  flex-direction: row;
  gap: 250px;
  align-items: center;
  justify-content: center;
}

.inputici {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
  font-size: xx-large;
  border: 1px solid grey;
  padding: 50px;
  width: 500px;
  border-radius: 7px;
}

.inputici input {
  padding: 8px;
  border-radius: 7px;
}

.zapratite {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 7px;
}

.mesta {
  margin: 20px;
  font-size: large;
}

.gluposti {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: larger;
  margin-top: 4px;
}

.mesta h3 {
  color: #db556c;
}

.gluposti a {
  color: #b44054;
  text-decoration: none;
}

.mapica {
  display: flex;
  justify-content: center;
  margin: 70px;
}

.debil {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ba727e;
  padding: 80px;
}

.QA {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-self: center;
  width: 1100px;
  gap: 100px;
  margin-left: 395px;
  margin-bottom: 100px;
}

.nmg {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}

.nmg h3 {
  color: #e1697d;
}
